h1 {
    align-items: center;
    font-family: var(--global-body-font-family);
    text-align: center;
}
p {
    color: black;
    display: block;
    text-align: center;
    font-size: 2rem;
}
div{
    display: block;
    align-items: center;
    padding-top: 0.75rem;
    margin-top: 0.5rem;
    padding-left: 15%;
    padding-right: 15%;
}
input{
    width: 100%;
    padding: 0.5rem;
}
button{
    color: white;
    background-color: red;
    width: 100%;
    border: none;
    height: 40px;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    justify-content: center;
}
button:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}
.button{
display: block;



}